.container{
	margin: 0px;
	padding-left: 138px;
}
@media (max-width: 1400px){
	.container{
		max-width: 1050px;
	}	
}
@media (max-width: 1199px){
	.container{
		max-width: 100%;
		padding-right: 15px;
	}	
}
/* @media (max-width: 1023px){
	.container{
		max-width: 600px;
	}	
} */